<div class="page">

<div class="stats">
  <h3>About our Comedians</h3>
  <div id="stats_section">
    <div id="about_title">General Information:</div>
    <p><li><b>Average age:</b> <%=(Comedian.all.average(:age)).round%></li></br>
       <li><b>Average run time of specials:</b> <%=(Special.all.average(:run_time))%> minutes</li></p>
     </div>
  <div id="stat_section">
    <div id="about_title">Comedian birthplaces:</div>
        <%cities = @comedians.distinct.pluck(:city)%>
        <%cities.each do |c| %>
        <p><li><b><%=c%></b>, home to: <b><%=@comedians.where(city: c).pluck(:name).flatten.join(", ")%></b></li>
        <%end%></p>
  </div>
  <div id="stat_section">
    <div id="about_title">Count of comedian specials:</div>
    <%@comedians.each do |comedian|%>
        <p><li><b><%=comedian.name%>:</b> <%=comedian.specials.count%></li>
        <%end%></p>
  </div>
</div>`

<div class="comedian_content">
  <% @comedians.each do |comedian| %>
  <div id="comedian_info">
    <div id="comedian_name"><b><%=comedian.name%></b></div>
    <p>Age: <%=comedian.age%></br>
      Birthplace: <%=comedian.city%></br>
  </p>
  </div>
  <div id="comedian_specials">
    <div id=individual_special>
    <% comedian.specials.each do |s| %>
    <img src="<%= s.image_url %>" class="img"></br>
    <p><b><%= s.title %></b></br>
    Run Time: <%=s.run_time%> minutes</br></p>
    <% end %>
  </div>
  <% end %>
  </div>
</div>
