<% @comedians.each do |comedian| %>
<ul>
  <li><%= comedian.name %></li>
  <li><%= comedian.age %></li>
  <li><%= comedian.city %></li>
  <li><%= comedian.specials.count %></li>
  <!--
  <% if comedian.specials %>
  <li><%= comedian.specials.name %></li>
  <% end %> -->
</ul>
<% end %>
