<% @comedians.each do |comedian| %>
<div class="single_comedian">
  <div class="comedian_info">
<ul>
  <li><%= comedian.name %></li>
  <li><%= comedian.age %></li>
  <li><%= comedian.city %></li>
  </div>
  <% comedian.specials.each do |s| %>
  <div class="comedian_specials">
    <div class="specials_info">
  <ul>
    <li>Title: <%= s.title %>, Run Time: <%= s.run_time %> minutes</li>
    <img src="<%= s.image_url %>" class="img">
    </div>
  </ul>
  </div>
    <% end %>
  </ul>
</div>
<% end %>
